<!DOCTYPE html>

<html lang="en">

    <head>
        <title> Computer Control - Mqttr</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/main.css') }}" >
    </head>
    <body class="fullscreen" id="fullscreen">
        <div id="top_buttons" >
            <form action="/" method="POST">
                <button style="left:1%;" class="smallbutton close-image"><img src="{{ url_for('static',filename='/icons/house.png') }}"></button>
            </form>
        </div>

        <div id="control_admin" class="settingspace container">
            <h1>Admin Control</h1>
            <form action="/admin_computer_off" method="POST">
                <button>Turn off computer</button>
            </form>
        </div>

    </body>
</html>