<!DOCTYPE html>

<html lang="en">

    <head>
        <title> Computer Control - Mqttr</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body class="fullscreen" id="fullscreen">

        <div id="top_buttons" >
            <form action="/" method="POST">
                <button style="left:1%;" class="smallbutton close-image"><img src="{{ url_for('static',filename='/icons/house.png') }}"></button>
            </form>

            <form action="/admin" method="POST">
                <button style="right: 5%;" class="smallbutton close-image"><img src="{{ url_for('static',filename='/icons/gear.png') }}"></button>
            </form>
        </div>

        <div id="control_led" class="container onerow settingspace">
            <h1>LED Lights</h1>
            <form action="/led_on" method="POST">
                <button class="led floatertwo" style="left: 13%;" type="submit">on</button>
            </form>
            <form action="/led_off" method="POST">
                <button class="led floatertwo" style="right: 13%;" type="submit">off</button>
            </form>
        </div>

        <div id="control_volume" class="container onerowtall">
            <h1>Volume</h1>
            <form action="/media_volume_up" method="POST">
                <button class="volume floaterthree tall" style="left:14%;" type="submit">Volume Up</button>
            </form>
            <form action="/media_volume_down" method="POST">
                <button class="volume floaterthree tall" style="left:39%;" type="submit">Volume Down</button>
            </form>
            <form action="/media_volume_mute" method="POST">
                <button class="volume floaterthree tall" style="right:14%;" type="submit">Mute</button>
            </form>
        </div>

        <div id="control_media" class="container onerow">
            <h1>Media</h1>
            <form action="/media_rewind" method="POST">
                <button class="volume floaterthree" style="left:14%;" type="submit">Rewind</button>
            </form>
            <form action="/media_pause" method="POST">
                <button class="volume floaterthree" style="left:39%;" type="submit">Pause</button>
            </form>
            <form action="/media_forward" method="POST">
                <button class="volume floaterthree" style="right:14%;" type="submit">Forward</button>
            </form>
        </div>   
    </body>
</html>